﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - Hyper-V Management</title>
  <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
  <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
  <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Hyper-V Management", "Index", "Home", null, new { @class = "navbar-brand" })
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>@Html.ActionLink("Manage", "Index", "Manage")</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container body-content">
    @RenderBody()

  </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - <a href="https://bitbucket.org/postedo" target="_blank">Edo Post</a></p>
    </footer>

  <script src="~/Scripts/jquery-2.1.4.min.js"></script>
  <script src="~/Scripts/bootstrap.min.js"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
