﻿@model Vm

@{
  var isPowerd = Model.State == VmState.Enabled || Model.State == VmState.Pausing || Model.State == VmState.Stopping;
  var isOn = Model.State == VmState.Enabled;
}

<div class="vm" id="@Model.Id">
  <div class="info">
    <div class="props">
      <span class="vm-name"><span style="font-weight: bold;">Name: </span>@Model.Name</span><br />
      <span class="vm-uptime"><span style="font-weight: bold;">Uptime: </span>@Model.Uptime.ToString(@"d\:hh\:mm\:ss")</span><br />
      <span class="vm-state"><span style="font-weight: bold;">State: </span>@Model.State</span><br />
    </div>
    <i class="fa fa-3x fa-desktop vm-@Model.State"></i>
  </div>
  <div class="controls">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default @(isOn ? "stop" : "start")" data-role="@(isOn ? "stop" : "start")">@(isOn ? "Stop" : "Start")</button>
      <button type="button" class="btn btn-default @(isPowerd ? "pause" : "disabled")">Pause</button>
      <button type="button" class="btn btn-default @(isPowerd ? "pullPlug" : "disabled")">Pull plug</button>
    </div>
  </div>
</div>
