﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input[type="text"],
input[type="password"] {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



.vm {
    border: 1px solid black;
    -ms-border-radius: 5px;
    border-radius: 5px;
    float: left;
    padding: 5px;
    margin-right: 10px;
    min-width: 150px;
}

    .vm > .info > .props {
        float: right;
        padding-left: 5px;
    }


.vm-Enabled {
    color: green;
}

.vm-Disabled {
    color: black;
}

.vm-Unkown {
    color: lightgray;
}

.vm-Paused {
    color: lightskyblue;
}

.vm-Starting {
    -webkit-animation-duration: 1200ms;
    -moz-animation-duration: 1200ms;
    -ms-animation-duration: 1200ms;
    -o-animation-duration: 1200ms;
    animation-duration: 1200ms;
    -webkit-animation-name: blink-green;
    -moz-animation-name: blink-green;
    -ms-animation-name: blink-green;
    -o-animation-name: blink-green;
    animation-name: blink-green;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
}

.vm-Stopping {
    -webkit-animation-duration: 1200ms;
    -moz-animation-duration: 1200ms;
    -ms-animation-duration: 1200ms;
    -o-animation-duration: 1200ms;
    animation-duration: 1200ms;
    -webkit-animation-name: blink-red;
    -moz-animation-name: blink-red;
    -ms-animation-name: blink-red;
    -o-animation-name: blink-red;
    animation-name: blink-red;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
}

.vm-Pausing {
    -webkit-animation-duration: 1200ms;
    -moz-animation-duration: 1200ms;
    -ms-animation-duration: 1200ms;
    -o-animation-duration: 1200ms;
    animation-duration: 1200ms;
    -webkit-animation-name: blink-lightskyblue;
    -moz-animation-name: blink-lightskyblue;
    -ms-animation-name: blink-lightskyblue;
    -o-animation-name: blink-lightskyblue;
    animation-name: blink-lightskyblue;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
}

.vm-Suspended {
    color: orange;
}

.vm-Resuming {
    -webkit-animation-duration: 1200ms;
    -moz-animation-duration: 1200ms;
    -ms-animation-duration: 1200ms;
    -o-animation-duration: 1200ms;
    animation-duration: 1200ms;
    -webkit-animation-name: blink-lightskyblue-green;
    -moz-animation-name: blink-lightskyblue-green;
    -ms-animation-name: blink-lightskyblue-green;
    -o-animation-name: blink-lightskyblue-green;
    animation-name: blink-lightskyblue-green;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
}


@keyframes blink-green {
    from {
        color: green;
    }

    to {
        color: black;
    }
}

@-webkit-keyframes blink-green {
    from {
        color: green;
    }

    to {
        color: black;
    }
}


@keyframes blink-lightskyblue {
    from {
        color: lightskyblue;
    }

    to {
        color: red;
    }
}

@-webkit-keyframes blink-lightskyblue {
    from {
        color: lightskyblue;
    }

    to {
        color: red;
    }
}

@keyframes blink-lightskyblue-green {
    from {
        color: lightskyblue;
    }

    to {
        color: green;
    }
}

@-webkit-keyframes blink-lightskyblue-green {
    from {
        color: lightskyblue;
    }

    to {
        color: green;
    }
}

@keyframes blink-red {
    from {
        color: red;
    }

    to {
        color: black;
    }
}

@-webkit-keyframes blink-red {
    from {
        color: red;
    }

    to {
        color: black;
    }
}
