﻿@model ManageIndexViewModel
@{
    ViewBag.Title = "Virtual cloud";
}
<h2>@ViewBag.Title</h2>
@foreach (var item in Model.Vms)
{
        @Html.Partial("Partials/_Vm", item)
}

@section Scripts
{
    <script type="text/javascript">
        function updateVm(id) {
            $.ajax({
                url: "/api/vm/" + id,
                dataType: "json"
            }).done(function (data) {
                var vm = $("#" + id);
                var props = vm.find(".info > .props");
                props.find('.vm-name').text = data.Name;
                props.find('.vm-uptime').text = data.Uptime;
                props.find('.vm-state').text = data.State;
            });
        }
        $(".start").bind('click', function () {
            var id = $(this).parent().parent().parent().attr('id');
            $.ajax("/api/vm/start", {
                method: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({
                    "Id": id,
                    "HyperVHost": "localhost"
                })
            }).done(function () {
                updateVm(id);
            });
        });
        $(".stop").bind('click', function () {
            var id = $(this).parent().parent().parent().attr('id');
            $.ajax({
                url: "/api/vm/shutdown",
                method: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({
                    "Id": id,
                    "HyperVHost": "localhost"
                })
            }).done(function () {
                updateVm(id);
            });
        });
        $(".pause").bind('click', function () {
            var id = $(this).parent().parent().parent().attr('id');
            $.ajax({
                url: "/api/vm/pause",
                method: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({
                    "Id": id,
                    "HyperVHost": "localhost"
                })
            }).done(function () {
                updateVm(id);
            });
        });
        $(".pullPlug").bind('click', function () {
            var id = $(this).parent().parent().parent().attr('id');
            if (confirm("This can result in data loss are you sure?")) {
                $.ajax({
                    url: "/api/vm/stop",
                    method: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({
                        "Id": id,
                        "HyperVHost": "localhost"
                    })
                }).done(function () {
                    updateVm(id);
                });
            }
        });
    </script>
}
